.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}
